{{ define "header" }}

<b-container class="bv-example-row">
  <b-row>
    <b-col><a href="/">index</a></b-col>
    <b-col><a href="/#general">general</a></b-col>
    <b-col><a href="/#twitter">twitter</a></b-col>
    <b-col><a href="/#github">github</a></b-col>
    <b-col><a href="/#arxiv">arxiv</a></b-col>
    <b-col><a href="/#sb-coldeshare">sb-coldeshare</a></b-col>
    <b-col><a href="/#speakerdeck">speakerdeck</a></b-col>
    <b-col><a href="/show_recent_added_examples">recent_added_examples</a></b-col>
  </b-row>
</b-container>

{{ end }}
