<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Recommended entries</title>
</head>
<body>
<h2>General</h2>
<ul>{{range .GeneralList}}
  <li><a href="{{.Url}}">{{or .Title .Url}}</a></li>{{end}}
</ul>
<h2>Twitter</h2>
<ul>{{range .TwitterList}}
  <li><a href="{{.Url}}">{{or .Title .Url}}</a></li>{{end}}
</ul>
<h2>Github</h2>
<ul>{{range .GithubList}}
  <li><a href="{{.Url}}">{{or .Title .Url}}</a></li>{{end}}
</ul>
<h2>Arxiv</h2>
<ul>{{range .ArxivList}}
  <li><a href="{{.Url}}">{{or .Title .Url}}</a></li>{{end}}
</ul>
<h2>Slideshare</h2>
<ul>{{range .SlideShareList}}
  <li><a href="{{.Url}}">{{or .Title .Url}}</a></li>{{end}}
</ul>
<h2>Speaker Deck</h2>
<ul>{{range .SpeakerDeckList}}
  <li><a href="{{.Url}}">{{or .Title .Url}}</a></li>{{end}}
</ul>
</body>
</html>
