<!DOCTYPE html>
<html>
  {{ template "header" }}
  <body>
    <div id="app">
      <div v-for="listname in listnames">
        <h2>${ listname }</h2>
        <ul>
          <li v-for="item in examples_by_listname[listname]">
            <a v-bind:href="item.Url" v-if="item.Title">
              ${ item.Title }
            </a>
            <a v-bind:href="item.Url" v-else>
              ${ item.Url }
            </a>
          </li>
        </ul>
      </div>
    </div>
    <script>
      var app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
          listnames: ["general", "twitter", "github", "arxiv", "slideshare", "speakerdeck"],
          examples_by_listname: {
            general: [],
            twitter: [],
            github: [],
            arxiv: []
          },
        },
        mounted() {
          for (let listname of this.listnames) {
            axios.get("/api/examples?listName=" + listname)
              .then(response => {
                this.examples_by_listname[listname] = response.data;
              });
          }
        }
      })
    </script>
  </body>
</html>
