<!DOCTYPE html>
<html>
  {{ template "header" }}
  <body>
    <div id="app">
      <ul>
        <li v-for="item in results">
          <a v-bind:href="item.Url" v-if="item.Title">
            ${ item.Title }
          </a>
          <a v-bind:href="item.Url" v-else>
            ${ item.Url }
          </a>
          <dd>Label: ${ item.Label }</dd>
        </li>
      </ul>
    </div>
    <script>
      var app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
          results: []
        },
        mounted() {
          axios.get("/api/recent_added_examples")
            .then(response => {
              this.results = response.data;
            });
        }
      })
    </script>
  </body>
</html>
